@media screen and (max-width: 980px) {
	.header .navigation {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 40px;
		right: 0;
		background: #ffffff;
		border-radius: 0 0 8px 8px;
		padding: 16px;
		transition: 240ms ease;
		visibility: hidden;
		transform: translateX(100%);
		border: none;
		z-index: 9;
	}
	.header a {
		border-radius: 8px;
	}
	.header .visible {
		visibility: visible;
		transform: translateX(0);
	}
}
