.container-home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3,1fr);
  grid-template-areas: 
    "block1 block2 block2"
    "block1 block3 block4"
    "block5 block5 block4";
    background: #ffffff;
}

.block1 {
  background: #66837E;
  grid-area: block1;
}
.block2 {
  background: #9D4E2D;
  grid-area: block2;
}
.block3 {
  background: #495F4B;
  grid-area: block3;
}
.block4 {
  background: #9DABB6;
  grid-area: block5;
}
.block5 {
  background: #DD9857;
  grid-area: block4;
}
